body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} /* Me dio skill issue entonces esto es pa centrar todo */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.tabla-tareas {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
}

.tabla-tareas th,
.tabla-tareas td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.tabla-tareas th {
    background-color: #f4f4f4;
}

.tabla-tareas tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-tareas tr:hover {
    background-color: #f1f1f1;
}
